html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 900px;
    margin: 0 auto;
}

main {
    padding-bottom: 70px;
}

.page_nav {
    padding-top: 76px;
    padding-bottom: 100px;
}

.site_nav {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

.site_nav li {
    display: inline-block;
}

.site_nav li:not(:last-child) {
    margin-right: 108px;
}

.site_nav a {
    display: block;
    text-decoration: none;
    line-height: 16px;
    font-weight: 500;
    font-size: 14px;
    font-family: "PlayfairDisplay", "serif";
    color: rgb(98, 98, 98);
}

.site_nav a:hover,
.site_nav a:focus {
    color: blue;
}

.features_list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 0;
}

.features_list-item {
    display: inline-block;
    width: 420px;
    height: 476px;
    margin-right: 60px;
    margin-bottom: 136px;
    margin-top: 0;
    padding: 0;
    font-size: 14px;
}

.features_list-item:nth-child(2n) {
    margin-right: 0;
}

.features_list-item:nth-child(n+5) {
    margin-bottom: 56px;
}

.picture {
    margin-bottom: 30px;
}

.features_list-item h2 {
    margin: 0;
    margin-bottom: 32px;
    font: 30px "PlayfairDisplay", "serif";
    font-weight: 500;
    color: rgb(98, 98, 98);
}

.features_list-item p {
    font-size: 14px "PlayfairDisplay", "serif";
    color: rgb(98, 98, 98);
}

.text_description {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 26px;
}

.text {
    margin: 0;
}

.button_container {
    display: block;
    
}

.load_button {
    display: block;
    margin: 0 auto;
    padding: 20px 34px;
    background-color: white;
    line-height: 24px;
    font: 20px "PlayfairDisplay", "serif";
    color: rgb(98, 98, 98);
}

.load_button:hover {
    color: blue;
}